@model Article
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

@await Component.InvokeAsync("_HomePageHeadComponentPartial")
<body>

    <div id="wrapper">
        @await Component.InvokeAsync("_HomePageHeaderComponentPartial")

        <section class="section lb m3rem">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
                        <div class="page-wrapper">
                            <div class="blog-title-area">



                                <h3>@Model.Title</h3>

                                <div class="blog-meta big-meta">
                                    <small><a href="#" title="">@Model.CreatedDate.ToString("dd-MMM-yyyy")</a></small>
                                    <small><a href="#" title="">@Model.AppUser.Name @Model.AppUser.Surname</a></small>
                                    <small><a href="#" title=""><i class="fa fa-eye"></i>@Model.ArticleViewCount</a></small>
                                </div><!-- end meta -->

                            </div><!-- end title -->

                            <div class="single-post-media">
                                <img src="@Model.CoverImageUrl" alt="" class="img-fluid">
                            </div><!-- end media -->

                            <div class="blog-content">
                                <div class="pp">
                                    <p>@Model.Detail</p>


                                </div><!-- end pp -->


                            </div><!-- end content -->

                            <div class="blog-title-area">
                                <div class="tag-cloud-single">
                                    <span>Kategori</span>
                                    <small><a href="#" title="">@Model.Category.CategoryName</a></small>

                                </div><!-- end meta -->


                            </div><!-- end title -->


                            <hr class="invis1">

                            <div class="custombox authorbox clearfix">
                                <h4 class="small-title">Yazar Hakkında</h4>
                                <div class="row">
                                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                        <img src="@Model.AppUser.ImageUrl" alt="" class="img-fluid rounded-circle">
                                    </div><!-- end col -->

                                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
                                        <h4><a href="#">@Model.AppUser.Name @Model.AppUser.Surname</a></h4>
                                        <p>@Model.AppUser.Details</p>


                                    </div><!-- end col -->
                                </div><!-- end row -->
                            </div><!-- end author-box -->


                            <hr class="invis1">
                            @await Component.InvokeAsync("_CommentListByArticleIdComponentPartial", new { articleId = Model.ArticleId })
                            <!-- end custom-box -->

                            <hr class="invis1">
                            @await Component.InvokeAsync("_HomePageArticleWriteCommentComponentPartial", new { articleId = Model.ArticleId })

                        </div><!-- end page-wrapper -->
                    </div><!-- end col -->

                    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                        <div class="sidebar">
                            <div class="widget-no-style">
                                @await Component.InvokeAsync("_HomePageNewsLetterComponentPartial")
                            </div>
                            @await Component.InvokeAsync("_HomePageLastThreeArticleComponentPartial")
                            @await Component.InvokeAsync("_HomePageCategoryListComponentPartial")

                        </div><!-- end sidebar -->
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end container -->
        </section>


        @await Component.InvokeAsync("_HomePageFooterComponentPartial")

    </div><!-- end wrapper -->
    @await Component.InvokeAsync("_HomePageScriptComponentPartial")


</body>
</html>