﻿@using X.PagedList
@using X.PagedList.Mvc.Core
@model IPagedList<Article>

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
@await Component.InvokeAsync("_HomePageHeadComponentPartial")
<body>
    <div id="wrapper">
        @await Component.InvokeAsync("_HomePageHeaderComponentPartial")
        @await Component.InvokeAsync("_HomePageFeaturedComponentPartial")
        <section class="section lb">
            <div class="container">
                <div class="row">


                    <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
                        <div class="page-wrapper">
                            <div class="blog-custom-build">


                                @foreach (var item in Model)
                                {

                                    <div class="blog-box wow fadeIn">
                                        <div class="post-media">
                                            <a href="/Article/ArticleDetail/@item.ArticleId" title="">
                                                <img src="@item.CoverImageUrl" alt="" class="img-fluid">
                                                <div class="hovereffect">
                                                    <span></span>
                                                </div>
                                                <!-- end hover -->
                                            </a>
                                        </div>
                                        <!-- end media -->
                                        <div class="blog-meta big-meta text-center">

                                            <h4><a href="/Article/ArticleDetail/@item.ArticleId" title="">@item.Title</a></h4>

                                            <p class="card-text">@item.Detail.Substring(0, 200)...<a href="/Article/ArticleDetail/@item.ArticleId">Devamını Oku</a></p>

                                            <small><a href="/Article/ArticleDetail/@item.ArticleId" title="">Kategori: @item.Category.CategoryName</a></small>
                                            <small><a href="/Article/ArticleDetail/@item.ArticleId" title="">Yazar: @item.AppUser.Name @item.AppUser.Surname</a></small>
                                            <small><a href="/Article/ArticleDetail/@item.ArticleId" title="">Tarih: @item.CreatedDate.ToString("dd-MMM-yyyy")</a></small>
                                            <small><a href="/Article/ArticleDetail/@item.ArticleId" title=""><i class="fa fa-eye"></i> @item.ArticleViewCount</a></small>
                                        </div>
                                    </div>

                                    <!-- end blog-box -->
                                }
                                <hr class="invis">
                            </div>
                        </div>

                        <hr class="invis">



                        <div class="row">
                            <div class="col-md-12">
                                <nav aria-label="Page navigation">
                                    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }), new PagedListRenderOptions
                               {
                                   LiElementClasses = new[] { "page-item" },
                                   PageClasses = new[] { "page-link" },
                                   UlElementClasses = new[] { "pagination", "justify-content-center" }
                               })
                                </nav>
                            </div>
                        </div>
                    </div><!-- end col -->


                    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                        <div class="sidebar">

                            @await Component.InvokeAsync("_HomePageLastThreeArticleComponentPartial")

                            @await Component.InvokeAsync("_HomePageCategoryListComponentPartial")

                        </div><!-- end sidebar -->
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end container -->
        </section>
        @await Component.InvokeAsync("_HomePageFooterComponentPartial")
    </div><!-- end wrapper -->
    @await Component.InvokeAsync("_HomePageScriptComponentPartial")
</body>
</html>